node_modules

# any databases or other files in data
**/.data/*
.sqlx

# transpiled js output
client/dist/*.js
# compiled rust output
server/target

# assets files for images such as logo
**/assets/*

# sensitive
secrets*
hmac.bin
.env

# hosting configuration
fly.toml
service.yaml
.gcloudignore

.idea
