body {
  background-color: #c5bcb5;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  text-wrap: pretty;
  width: 90%;
  text-align: center
}

input {
  margin: 15px;
  padding: 4px;
  width: 100%;
  font-size: 36px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}

.centre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.logo {
  max-width: 150px;
}

nav {
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

nav * {
  margin-left: 4px;
  margin-right: 4px;
}

.home-icon {
  max-height: 40px;
}

.nav-link {
  padding: 8px;
  align-content: center;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}